<li [class.completed]="todo.completed" [class.editing]="editing">
    <div class="view" style="display:flex">
        <input class="toggle" type="checkbox" (click)="toggleCompletion()" [checked]="todo.completed">
        <label (dblclick)="edit(todo)">{{ todo.title | trim }}</label>
        <button class="addsubtask" style="color:green" (click)="subTaskBoxManager()">+</button>
        <button class="destroy" (click)="remove()"></button>
    </div>
    <input class="edit" *ngIf="editing" [value]="todo.title" #editedtodo (blur)="stopEditing(editedtodo)" (keyup.enter)="stopEditing(editedtodo)" (keyup.escape)="cancelEditing()">
</li>
<div *ngIf='subtaskbox' style="display:flex;padding:10px;justify-content:center">
    <label style="margin-right:10px">Add subtask:</label>
    <input [(ngModel)]='subTaskInput' type="text">
    <button style="margin-left:10px" (click)="addsub()">Add</button>
</div>
<div style="display: flex;justify-content:center;padding:5px" *ngFor="let item of todo.subtask; let i = index">
    <input class='toggle' type="checkbox" (click)="toggleCompletionSub(i)" [checked]="item.completed">
    <label *ngIf='!editingSub || editingSubIndex !== i' (dblclick)="editSub(todo,i)">{{ item.title }}</label>
    <input *ngIf="editingSub && editingSubIndex === i" [value]="item.title" #editedtodosub (blur)="stopEditingSub(i,editedtodosub)" (keyup.enter)="stopEditingSub(i,editedtodosub)" (keyup.escape)="cancelEditingSub()">
    <button style="margin-left:10px;color:red;" (click)="removeSub(i)">X</button>
</div>